@{
    ViewBag.Title = "修改密码确认";
    Layout = "AdminLTE";
}

<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>


<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <p style="text-align:center;font-size:22px; line-height:80px;">密码修改成功!</p>
    </div>
</div>
