@{
    ViewBag.Title = "密码重置成功";
}

<div class="login-bg-wrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <section>
                    <h4 class="h4-login"><span class="logo"></span>供应商报价系统</h4>
                    <div class="login-wrap">
                        <h4 style="text-align:center;color:#fff;">密码已成功重置，点击 @Html.ActionLink("登录", "Login", "Account",new {partnerCode=ViewBag.PartnerCode })。</h4>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(document.body).addClass("login-bg");
        $(".login-bg-wrap").height($(window).height());
        $(window).resize(function () {
            $(".login-bg-wrap").height($(window).height());
        })
    })
</script>