@using Orchard.MPUnovo.Models;
@using Orchard.Users.Models;
@model ResetPasswordViewModel
@inject Microsoft.AspNetCore.Identity.UserManager<User> _userManager

@{
    ViewBag.Title = "重置密码";
}

<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>

<div class="login-bg-wrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <section>
                    <form asp-area="Orchard.MPUnovo" asp-action="ResetPassword" method="post" class="form-horizontal" role="form">
                        <h4 class="h4-login"><span class="logo"></span>供应商报价系统</h4>
                        <div class="login-wrap">
                            <h4 style="text-align:center;color:#fff;">重置密码</h4>
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input asp-for="Code" type="hidden" />
                            <div class="form-group">
                                <label asp-for="Name" class="col-xs-4 col-md-3 control-label">公司</label>
                                <div class="col-xs-8 col-md-9">
                                    <input class="form-control" value="@ViewBag.CompanyName" readonly="true" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Name" class="col-xs-4 col-md-3 control-label">用户名</label>
                                <div class="col-xs-8 col-md-9">
                                    <input asp-for="Name" class="form-control" value="@ViewBag.Name" data-val-required="用户名不能为空！" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="col-xs-4 col-md-3 control-label">输入密码</label>
                                <div class="col-xs-8 col-md-9">
                                    <input asp-for="Password" class="form-control" data-val-length="密码长度最少6位" data-val-length-max="100" data-val-length-min="6" data-val-required="密码必填" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="col-xs-4 col-md-3 control-label">确认密码</label>
                                <div class="col-xs-8 col-md-9">
                                    <input asp-for="ConfirmPassword" class="form-control" data-val-equalto="密码不匹配" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="login-btns">
                                <button type="submit" class="btn btn-default">重置密码</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(document.body).addClass("login-bg");
        $(".login-bg-wrap").height($(window).height());
        $(window).resize(function () {
            $(".login-bg-wrap").height($(window).height());
        })
    })
</script>